@import '../../../styles/theme.scss';
@import '../../../styles/vars.scss';
@import '../../../styles/mixins/media.scss';

.toggle {
  height: 30px;
  @include b('mobile') {
    margin-top: 30px;
  }

  &_buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    height: 100%;

    label {
      padding: 10px 25px;

      background: var(--background-gray-white);
      border-top-left-radius: 10px !important;
      border-top-right-radius: 10px !important;

      span {
        color: $gray-txt;
      }
    }
  }

  .r-group .ant-radio-button-wrapper-checked {
    background: var(--background-black-yellow) !important;

    span {
      color: var(--text-yellow-white) !important;
    }
  }
}
