@import '../../../../styles/vars';
@import '../../../../styles/theme.scss';
@import '../../../../styles/mixins/media.scss';

.unlock-percent {
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: var(--background-secondary);
  border: 1px solid $yellow;
  border-radius: 10px;

  &-left {
    &_input {
      font-size: 19px;

      color: var(--text-yellow-black);
    }
  }

  &-not_valid {
    border: 1px solid #ff4d4f !important;
  }

  @include b('mobile') {
    padding: 5px 10px;

    display: grid;
    grid-template-columns: 1.2fr 0.1fr;

    width: 100%;

    &-lfet {
      input {
        width: 90%;

        font-size: 16px;
      }
    }

    &-right {
      width: 10%;
    }
  }
}
