$black: rgba(21, 21, 21, 1);
// $green: #6ddac0;
$yellow: rgba(247, 189, 1, 1);
$yellow-l: rgba(239, 190, 65, 1);
$yellow-hover: rgba(247, 189, 1, 0.9);
$gray: rgba(35, 35, 35, 1);
$white: #fff;
$white-drop: rgba(238, 238, 238, 1);
$white-btn: rgba(244, 245, 248, 1);
$white-hover: rgba(244, 245, 248, 0.95);
$gray-txt: rgba(153, 153, 153, 1);

$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;
